/* 
    Document   : style
    Created on : Jan 1, 2014, 7:58:04 PM
    Author     : Petter
    Description:
        Purpose of the stylesheet follows.

	Colors
		Red:		#ec2828
			Dark:	#D51818

		Gray:		#7d7d7d
			Light	#EBEBEB
		
*/

body{
	margin:0;
	padding:0;
	font-family:"Myriad Pro";
	background-color:#23282A;
}

a{
	color:inherit;
	text-decoration:none;
}

.clear-both{
	clear:both;
}

.circular{
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}

.dropdown-window-top{
	width:16px;
	height:16px;
	background-image:url(/template/img/dropdown-window-top.png);
	background-repeat:no-repeat;
	position:absolute;
	margin-top:-16px;
	right:0;
	left:0;
	margin-left:auto;
	margin-right:auto;
}

.shadow{
-webkit-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.5);
-moz-box-shadow:    0px 6px 12px 0px rgba(0, 0, 0, 0.5);
box-shadow:         0px 6px 12px 0px rgba(0, 0, 0, 0.5);
}

/*------- jQuery Windows -------*/

#profile-dropdown{
	display:none;
	position:absolute;
	right:0 !important;
	margin-top:90px;
	margin-right:75px;
	background-color:#ffffff;
	color:#7d7d7d;
	width:300px;
	height:400px;
	z-index:999;
}

#profile-dropdown .profile-summary{
	padding-top:20px;
	text-align:center;
}

#profile-dropdown .profile-summary img{
	
}

#profile-dropdown .profile-summary .email{

}

#profile-dropdown .logout{
	display:block;
	background-color:#ec2828;
	text-align:center;
	position:absolute;
	width:100%;
	bottom:0;
}

#profile-dropdown .logout span{
	color:#ffffff;
	display:block;
	padding:10px;
}

#profile-dropdown .logout:hover{
	background-color:#D51818;
}

/*------- TOP -------*/

#top{
	background-color:#ffffff;
	height:75px;
	position:relative;
	width:100%;
	color:#7d7d7d;
	font-size:18px;
}

#top #logo{
	float:left;
	height:100%;
	width:225px;
	border-right:1px solid #E8E8E8;
	text-align:center;
}

#top #logo h1{
	margin:0;
	padding:0;
	font-size:30px;
	color:#131617;
	padding-top:20px;
}

/* Search */

#top #search{
	float:left;
	padding-top:25px;
	margin-left:50px;
}

#top #search input[type=text]{
	color:#7d7d7d;
	font-size:16px;
	border:none;
	padding:10px;
}

/* Top Button */

#top .top-button{
	display:block;
	float:right;
	text-align:center;
	width:150px;
	height:100%;
}

#top .top-button span{
	float:left;
	width:100%;
	text-align:center;
	display:block;
	margin-top:25px;
}

#top .top-button span img{
	margin-left:10px;
}

#top .upload{
	background-color:#ec2828;
	color:#ffffff;
}

#top .upload:hover{
	background-color:#D51818;
}

/*------- SIDEBAR -------*/

#sidebar{
	width:225px;
	float:left;
}

#sidebar h4{
	font-weight:bold;
	font-size:11px;
	color:#555a5c;
	text-transform:uppercase;
	padding:20px;
	padding-bottom:0;
}

#sidebar ul{
	color:#787e80;
	font-weight:bold;
	margin:0;
	padding:0;
	font-size:16px;
}

#sidebar li{
	list-style:none;
	padding:5px;
	padding-left:40px;
}

#sidebar li:hover{
	background-color:#131617;
}

#sidebar li img{
	float:left;
	margin-right:10px;
}

#sidebar #guide{
	
}

#main-content{
	margin-left:225px;
	border-left:1px solid #363636;
}

#main-content .video-box{
	float:left;
	width:320px;
	margin-left:10px;
	margin-top:20px;
	height:210px;
	background-color:#131617;
	position:relative;
}

#main-content .video-box h3{
	margin:0;
	padding:5px;
	font-weight:normal;
	color:#ffffff;
	font-size:16px;
}

#main-content .video-box .video-overlay{
	position:absolute;
	display:block;
	right:0;
	left:0;
	height:180px;
	background-color:black;
	text-align:center;
	opacity:0;
	transition:0.5s opacity;
}

#main-content .video-box .video-overlay img{
	padding-top:15px;
}

#main-content .video-box .video-overlay:hover{
	opacity:0.6;
}

#footer{
	position:fixed;
	bottom:0;
	width:100%;
	height:5px;
	background-color:#ec2828;
}